
.psswd_image{
    -fx-background-image: url('images/iniciar-sesion.png');
    -fx-background-size: cover;
    -fx-alignment: center;
}

.background {
    -fx-background-color: #b9f0e0;
}

.fields {
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 13;
    -fx-border-color:#f0b4b6;
    -fx-border-width: 2;
}

.fields:hover{
    -fx-border-color:#6cc3d590;
    -fx-border-width: 2;
}

.fields:focused{
    -fx-border-color:#ffce6790;
    -fx-border-width: 2;
}

.labels {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20;
}
