.background {
    -fx-background-color: #b9f0e0;
}

.labels {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 13;
}

.fields {
    -fx-background-color: 0;
    -fx-border-radius: 20;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 13;
    -fx-border-color:#f0b4b6;
    -fx-border-width: 2;
}

.check_box {
    -fx-background-color: 0;
    -fx-border-radius: 20;
    -fx-border-color:#f0b4b6;
    -fx-border-width: 2;
}

.button {
    -fx-background-color: 0;
}

.button:hover {
    -fx-background-color: #78ffd9;
    -fx-background-radius: 10;
}