*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--color-fondo);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary);
    text-align: center;
    font-size: 2.5rem;

}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary);
    text-align: left;
    font-size: 2rem;
}

p{
    color: var(--dark);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}